@page
@model WebAppRazorPages1.Pages.OrganisationUsers.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>OrganisationUser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrganisationUser.Name" class="control-label"></label>
                <input asp-for="OrganisationUser.Name" class="form-control" />
                <span asp-validation-for="OrganisationUser.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrganisationUser.Code" class="control-label"></label>
                <input asp-for="OrganisationUser.Code" class="form-control" />
                <span asp-validation-for="OrganisationUser.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrganisationUser.OrganisationId" class="control-label"></label>
                <select asp-for="OrganisationUser.OrganisationId" class ="form-control" asp-items="ViewBag.OrganisationId"></select>
            </div>
            <div class="form-group">
                <label asp-for="OrganisationUser.AccessLevel" class="control-label"></label>
                <select asp-for="OrganisationUser.AccessLevel" class="form-control"></select>
                <span asp-validation-for="OrganisationUser.AccessLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
